<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Synthesthesia</title>
	<link href="styles.css" rel="stylesheet" type="text/css">
</head>
<body>
	<input id="ip" type="hidden" value="<%= ip %>">
			<h1>SYNTHESTHESIA</h1>



	<% include melody %>

<!-- 	<button id="play">play</button> -->
<!-- 	<button id="loop">loop</button> -->
		<nav id="main_nav">
		<ul>
			<li class="nav" id="nav_sop">Soprano</li>
			<li class="nav" id="nav_alt">Alto</li>
			<li class="nav" id="nav_ten">Tenor</li>
			<li class="nav" id="nav_bas">Bass</li>
			<li class="nav" id="nav_all">See All</li>
		</ul>
	</nav>
	<% include synths %>
	



<div id="soprano">
	</div>
	<div id="alto">
	</div>
	<div id="tenor">
	</div>
	<div id="bass">
	</div>

	<!-- <button id="play">play</button>
	<button id="stop">stop</button>
	<button id="save">save</button>
	<button id="load">load</button> -->
	<script type="text/javascript" src="wad-min.js"></script>
		<script type="text/javascript" src="objects.js"></script>
	<script type="text/javascript" src="synths.js"></script>
	<script type="text/javascript" src="nav.js"></script>
		<script type="text/javascript" src="notation.js"></script>
</body>
</html>