<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Hear the web</title>
</head>
<body>
	<input id="url" type="text" placeholder="website, please" value="http://">
	<button id="submit">submit</button>
	<!-- <button id="play">play</button>
	<button id="stop">stop</button>
	<button id="save">save</button>
	<button id="load">load</button> -->
	<script type="text/javascript" src="wad-min.js"></script>
	<script type="text/javascript" src="scripts.js"></script>
</body>
</html>