<div id="mel_div" class="visible grey">
	<div id="web_text">
		<p>Enter a website or text:</p>

		<textarea id="user_option" placeholder="start with http:// for websites!"></textarea>
	</div>
	<div id="mode_pick">
		<p>Pick a mode:</p>
		<select id="tonality">
			<option name="tonality" value="ionian">Ionian/Major</option>
			<option name="tonality" value="dorian" checked>Dorian</option>

			<option name="tonality" value="phrygian">Phrygian</option>

			<option name="tonality" value="aeolian">Aeolian/Minor</option>

			<option name="tonality" value="harmonicMinor">Harmonic Minor</option>

			<option name="tonality" value="wholeTone">Whole Tone</option>

			<option name="tonality" value="chromatic">Chromatic</option>

			<option name="tonality" value="pentatonic">Pentatonic</option>
		</select>

			
	</div>
<p class="temp">Click submit, make any changes you'd like to the oscillators below, then click play!</p>
	<button id="submit_text">submit</button>
		<button id="play">play</button>
<!-- 	<button id="stop">stop</button> -->
</div>